h1,h2,h3,h4,ul {
	padding:0
}

body,input,ul {
	margin:0
}

.block,body {
	text-align:center;	
	position:relative
}

.block,.list-text>.item,body {
	position:relative
}

#logo .inline,.inline-group:before,.inline-group>.item {
	vertical-align:middle
}

.clearfix:after,.part-footer .term .name {
	clear:both
}

#header,.part-headline .fade,.part-illumination {
	backface-visibility:hidden
}

.xs-12 {
	width:100%
}

*,:after,:before {
	box-sizing:border-box
}


body,html  {
	
	min-height:100%

}


html {
	-webkit-font-smoothing:antialiased;	
	-moz-osx-font-smoothing:grayscale;	
	-webkit-text-size-adjust:100%;	
	-ms-text-size-adjust:100%;	
	font-size:62.5%;	
	font-family:sans-serif
}

footer,h1,h2,h3,h4,header,li,nav,p,section,ul {
	display:block
}

ul {
	list-style:none
}

a {
	background-color:transparent
}

:focus,a:active,a:focus,a:hover {
	outline:0
}

small {
	font-size:80%
}

input {
	color:inherit;	
	font:inherit;	
	line-height:normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;	
	padding:0
}

input[type=checkbox] {
	box-sizing:border-box;	
	padding:0
}

@-ms-viewport {
	width:auto!important
}


body {
	overflow-y:scroll;	
	font:400 14px Helvetica,Arial,sans-serif;	
	line-height:1.618em;	
	/*background:#f7fffd;	*/
	background: white;
	color:#333;	
	will-change:scroll-position
}

h1,h2,h3,h4,strong {
	margin:0;	
	margin-top: -8px;
	font-weight:500
}

address {
	font-style:normal
}

.clearfix:after,.clearfix:before,.inline-group:before {
	font:0/0 a;	
	content:" ";	
	overflow:hidden
}

.clearfix:after,.clearfix:before {
	display:table;	
	height:0
}

.container {
	display:block;	
	max-width:100%;	
	margin:0 auto;	
	padding:0 24px
}

.inline,.inline-group>.item {
	display:inline-block
}

.inline-group {
	display:block
}

.inline-group:before {
	display:inline-block;	
	width:0;	
	height:100%
}

.block {
	pointer-events:none;	
	z-index:1
}

.block>.wrapper {
	pointer-events:all
}

.block>.wrapper>.container {
	padding-top:24px;	
	padding-bottom:48px;	
	text-align:left
}

#header,.title {
	text-align:center;
}

#about-us-title {
	text-align: left;
	text-transform: none;
	font-weight: 300;
	font-size: 35px;
	margin-top: 35px;
}

.about-us-content {
	line-height: 300%;
	padding-left: 20px;
	padding-right: 30px;
}

.title {
	padding:24px 0 48px;	
	font-size:1.8em;	
	font-weight:900;	
	line-height:1.618em;
	text-transform: uppercase;
	color:#CDB4A9;
}

.list-text,.t-trigger {
	padding:0 24px
}

#header .list,.list,.t-trigger {
	font-size: 14.5px;
	font-weight: 400;
}

.content {
	margin:0 24px
}

.hidden {
	display:none!important
}

.link {
	display:inline-block
}

.link,.link:active,.link:focus,.link:hover {
	text-decoration:none
}

.list {
	/*opacity:.8*/
}

.list-text>.item {
	margin-bottom:1em
}

.list-text>.item:before {
	display:inline-block;	
	position:absolute;	
	content:" ";	
	width:6px;	
	height:6px;	
	left:-24px;	
	top:.75em;	
	background:#000;	
	opacity:.34
}

.t-target,.t-trigger .text {
	display:none
}

#header .container,#logo {
	height:60%
}

.t-trigger {
	margin-bottom:-24px;	
	line-height:48px;	
	text-transform:lowercase;	
	background:#fff;	
	border-bottom:3px solid #68C7A9;	
	color:#68C7A9;	
	cursor:pointer
}

#logo .name,#logo .type,.t-trigger .show {
	display:block
}

#header {
	position:fixed;	
	left:0;	
	top:-40px;	
	right:0;	
	height:138px;	
	padding-top:84px;	
	background:#fff;	
	overflow:hidden;	
	z-index:2
}

#header .link {
	padding:12px 6px;	
	color:#000;
}

#header .list {
	height:100%
}

#logo {
	/*opacity:.6*/
}

.part-footer .inline,.part-services .inline {
	vertical-align:top
}

#logo .site {
	font-size:1em
}

#logo .name {
	font-size:30px;	
	font-weight:400;
}

#logo .type {
	font-size:.571em;	
	font-weight:300;	
	letter-spacing:2px;	
	opacity:.6
}

#menu {
	display:none
}

.part-footer {
	position:relative;	
	text-align:left;	
	font-size:.75em;	
	z-index:1
}

.part-footer .bg {
	background:#DBED6F
}

.part-footer .title {
	padding:0 0 24px;	
	font-size:1.375em;	
	font-weight:500;	
	text-align:left;	
	color:#fff
}

.part-footer .title~.title {
	padding-top:24px
}

.part-footer .col {
	padding:12px
}

.part-footer .content {
	margin:0
}

.part-footer .company {
	display:block;	
	margin-bottom:1em
}

.part-footer .link {
	color:#000
}

.part-footer .term {
	margin:0
}

.part-footer .term .data,.part-footer .term .name {
	display:block;	
	margin:0;	
	float:left
}

.part-footer .term .name:after {
	content:":"
}

.part-footer .term .data {
	padding-left:12px;	
	opacity:.5
}

.part-footer .decorated {
	position:relative;	
	padding-bottom:24px
}

.part-footer .decorated:after {
	display:block;	
	position:absolute;	
	content:" ";	
	left:50%;	
	bottom:0;	
	width:96px;	
	height:3px;	
	margin-left:-48px;	
	background:#fff
}

.part-footer .account {
	padding-bottom:24px
}

.part-footer .account .term .data,.part-footer .account .term .name {
	float:none
}

.part-footer .account .term .data {
	display:block;	
	padding:0
}

.part-footer .opening .term .name {
	font-weight:500;	
	width:40%
}

.part-footer .opening .term .data {
	width:60%
}

.part-footer .bank {
	display:block;	
	font-size:1.75em;	
	font-weight:300;	
	margin:0;	
	padding:0 0 48px
}

.part-footer .docs {
	border-top:1px dashed rgba(0,0,0,.2)
}

.part-footer .docs .link {
	display:block;	
	font-size:.875em;	
	font-weight:500;	
	line-height:5em;	
	text-align:center;	
	background:#fff;	
	color:#000;	
	margin-top:12px
}

.page-info {
	display:none
}

.part-headline {
	position:relative;	
	padding:100px 240px 0 0;	
	margin-top:0;	
	height:480px;	
	overflow:hidden;	
	z-index:1
}

.part-headline .back {
	position:absolute;	
	left:0;	
	top:110px;	
	right:0;	
	bottom:0;	
	background:url(/assets/img/soron-magyarorszag-alkusz.jpg) right 0 no-repeat;	
	background-size:auto 100%;	
	z-index:1
}

.part-portfolio,.part-services {
	z-index:2
}

.part-headline .fade {
	position:relative;	
	width:100%;	
	height:100%;	
	background:#DBED6F;	
	transform:skewX(-20deg);	
	transform-origin:right 0;	
	overflow:hidden;	
	z-index:2
}

.part-headline .fade:after {
	display:block;	
	position:absolute;	
	content:" ";	
	right:0;	
	top:0;	
	width:0;	
	height:75%;	
	padding-left:50%;	
	background:#D6D2AC;	
	transform:skewX(40deg);	
	transform-origin:left 0
}

.part-portfolio .t-target {
	border-top:1px solid rgba(0,0,0,.13);	
	margin-top:24px;	
	padding-top:24px;	
	font-size:.875em;	
	font-weight:300;	
	opacity:.8
}

.part-portfolio .t-state:checked~.container .t-target {
	display:block
}

.part-portfolio .t-state:checked~.t-trigger .show {
	display:none
}

.part-portfolio .t-state:checked~.t-trigger .hide,.part-services .t-state:checked~.container .t-target {
	display:block
}

.part-illumination {
	height:250px;	
	background:center 0/cover no-repeat #c9c391;	
	margin-top:0;	
	padding-top:0
}

.part-services .bg {
	background:#D6D2AC
}

.part-services .title {
	padding-bottom:0;	
	color:#fff
}

.part-services .title-sub {
	font-size:.875em;	
	height:3em;	
	margin:48px 0;	
	padding:0 24px
}

.part-services .title-sub:after {
	content:":"
}

.part-services .t-state:checked~.t-trigger .show {
	display:none
}

.part-services .t-state:checked~.t-trigger .hide {
	display:block
}

.part-partners>.wrapper>.container {
	text-align:center
}

.part-partners .bg {
	background:rgba(0,0,0,.02)
}

.part-partners .list {
	font-size:.75em;	
	opacity:.8
}

.part-partners .text,.part-partners .title {
	display:inline-block;	
	font-style:normal
}

.part-partners .title {
	padding:12px;	
	margin:0 auto 48px;	
	line-height:1em
}

.part-partners .text {
	padding:6px;	
	line-height:1.5em
}

